# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Push to DI

on:
  push
  #workflow_dispatch:
jobs:
 
  build:

    runs-on: ubuntu-latest
    env:
        GH_TOKEN: ${{ github.token }}
        days: ${{ vars.DAYS }}
    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - run: sh pushIssues.sh $days
    - run: cat issues.json
    - run: sh pushCommits.sh $days
    - run: cat commits.json
    - run: sh pushPRDetails.sh $days
    - run: cat prs.json
    - run: sh pushAlerts.sh $days
    - run: cat alerts.json
